<div class="campaign-detail" cz-shortcut-listen="true">
	<div id="wrapper">
		<header id="header" class="site-header" style="background-color:#292929">
			<div class="container" style="width: 90%;">
				<div class="site-brand">
					<a href="#"><img src="../../assets/images/logo-light.png" alt=""></a>
				</div><!-- .site-brand -->
				<div class="right-header">					
					<nav class="main-menu">
						<button class="c-hamburger c-hamburger--htx"><span></span></button>
						<ul>
							<li>
								<a href="#">PROGRAM<i class="fa fa-caret-down" aria-hidden="true"></i></a>
								<ul class="sub-menu">
									<li><a href="#">KESIHATAN</a></li>
									<li><a href="#">KASIH</a></li>
									<li><a href="#">AMAL</a></li>
									<li><a href="#">KOMUNITI</a></li>
									<li><a href="#">ILMU</a></li>
								</ul>
							</li>
							<li><a href="#">MAKLUMAT</a></li>
						</ul>
					</nav>
					<div class="login login-button">
						<a *ngIf="!logged" (click)="login()" class="btn-primary">Login</a>
            <a *ngIf="logged" (click)="logOut()" class="btn-primary">Logout</a>
					</div><!-- .login -->
				</div><!--. right-header -->
			</div><!-- .container -->
		</header><!-- .site-header -->

		<main id="main" class="site-main sm2">
			<div class="campaign-content">
				<div class="container">
					<div class="campaign">
						<div class="campaign-item clearfix">
							<div class="campaign-image">
								<div id="owl-campaign" class="campaign-slider owl-carousel owl-theme" style="opacity: 1; display: block;">
									<div class="owl-wrapper-outer">
										<div class="owl-wrapper" style="width: 3330px; left: 0px; display: block;">
											<div class="owl-item" style="width: 555px;">
												<div class="item">
													<img src="../../assets/images/campaign-recent-01.jpg" alt="" style="height:375px">
												</div>
											</div>
										</div>
									</div>
									<div class="owl-controls clickable">
										<div class="owl-pagination">
											<div class="owl-page">
												<img src="../../assets/images/campaign-recent-01.jpg">
                      </div>
                      <div class="owl-page">
												<img src="../../assets/images/campaign-recent-02.jpg">
                      </div>
										</div>
										<div class="owl-buttons">
											<div class="owl-prev">
												<span class="fa fa-arrow-left"></span>
											</div>
											<div class="owl-next">
												<span class="fa fa-arrow-right"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="campaign-box">
								<h5>Kempen</h5>
								<h3>Kempen My Heart IJN</h3>
								<div class="campaign-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor, ipsum ut mattis commodo, eros justo feugiat ante, sed tristique erat urna et nibh. Donec nec rhoncus mi, non laoreet tortor. Proin ullamcorper ipsum interdum tellus scelerisque, a ultricies urna vehicula. Mauris faucibus metus quis commodo pharetra.</p></div>
								<div class="process">
									<div class="raised"><span style="width: 255.297px;"></span></div>
									<div class="process-info">
										<div class="process-funded"><span>RM 4,890</span>terkumpul setakat ini</div><br>
										<div class="process-funded"><span>80%</span>tepati sasaran</div><br>
										<div class="process-funded"><span>5</span>hari lagi</div><br>
									</div>
								</div>
								<div class="button">
									<button class="btn-primary" type="submit">Derma</button>
									<button class="btn-secondary" type="submit">Sebar</button>
									<!-- <a href="https://demo.themegoals.com/html/ideabox/campaign_detail.html?s=1#" class="btn-secondary"><i class="fa fa-heart" aria-hidden="true"></i>Remind me</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- .campaign-content -->
			<div class="campaign-history">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="campaign-tabs">
								<ul class="tabs-controls">
									<li class="active" data-tab="campaign"><a href="https://demo.themegoals.com/html/ideabox/campaign_detail.html?s=1#">Overview</a></li>
									<li data-tab="comment" class=""><a href="https://demo.themegoals.com/html/ideabox/campaign_detail.html?s=1#">Komen</a></li>
									<li data-tab="updates" class=""><a href="https://demo.themegoals.com/html/ideabox/campaign_detail.html?s=1#">Terkini</a></li>
								</ul>
								<div class="campaign-content">
									<div id="campaign" class="tabs active">
										<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
										<img src="./ideabox_files/campaign-tabs.jpg" alt="">
										<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.</p>
										<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved</p>
									</div>
									<div id="updates" class="tabs">
										<ul>
											<li>
												<p class="date">30-06-2017</p>
												<div class="desc"><p>Bacon spare ribs rump chuck turkey, ham hock capicola. Strip steak tongue kielbasa, boudin hamburger t-bone capicola turducken. Landjaeger meatloaf pork belly spare ribs chuck.</p></div>
											</li>
											<li>
												<p class="date">31-05-2018</p>
												<div class="desc"><p>Corned beef leberkas fatback porchetta, strip steak salami turkey short loin flank ham hock landjaeger. Leberkas pork belly kevin shoulder filet mignon. Bacon spare ribs rump chuck turkey, ham hock capicola. Strip steak tongue kielbasa, boudin hamburger t-bone capicola turducken. Landjaeger meatloaf pork belly spare ribs chuck.</p></div>
											</li>
											<li>
												<p class="date">31-05-2018</p>
												<div class="desc"><p>Corned beef leberkas fatback porchetta, strip steak salami turkey short loin flank ham hock landjaeger. Leberkas pork belly kevin shoulder filet mignon. Bacon spare ribs rump chuck turkey, ham hock capicola. Strip steak tongue kielbasa, boudin hamburger t-bone capicola turducken. Landjaeger meatloaf pork belly spare ribs chuck.</p></div>
											</li>
											<li>
												<p class="date">31-05-2018</p>
												<div class="desc"><p>Sed cursus hendrerit odio, at aliquet leo hendrerit a. Nulla ultricies sagittis dolor, quis maximus magna consectetur eu. Cras pharetra aliquam fringilla. Integer placerat sapien dapibus varius luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in aliquam urna, ultrices lobortis lacus. Praesent mi enim, congue semper volutpat ut, bibendum tempor arcu.</p></div>
											</li>
										</ul>
									</div>
									<div id="comment" class="tabs comment-area">
										<ol class="comments-list">
											<li class="comment clearfix"> 
												<div class="comment-body">
													<div class="comment-avatar"><img src="./ideabox_files/comment.jpg" alt="" style="border-radius:50%"></div>
													<div class="comment-info">
														<header class="comment-meta"></header>
														<cite class="comment-author">Jordan B. Goodale </cite><span class="comment-date"> 2 days ago</span>
														<div class="comment-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem e Cn. Sequitur disserendi ratio cognitioque naturae; Nunc vides, quid faciat. Duo Reges: constructio interrete. Memini vero, inquam; Quis Aristidem non mortuum diligit?</p></div>
													</div>
												</div>
											</li>
										</ol>
										<div id="respond" class="comment-respond">
											<h3 id="reply-title" class="comment-reply-title">Leave A Comment?</h3>
											<form action="https://demo.themegoals.com/html/ideabox/campaign_detail.html?s=1" id="commentForm">
												<div class="field-textarea">
								  					<textarea rows="8" placeholder="Your Comment"></textarea>
								  				</div>
											  	<button type="submit" value="Send Messager" class="btn-primary">Post Comment</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div><!-- .main-content -->
					</div>
				</div>
			</div><!-- .campaign-history -->
		</main><!-- .site-main -->

		<footer id="footer" class="bg-pink subscribe">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5 text-right text-left-xs wow fadeInUp" data-wow-delay=".1s">
						<h2 class="fs50">
							BERSAMA MEMBANTU MEREKA YANG MEMERLUKAN
						</h2>
					</div>
					<div style="margin-top:30px" class="col-md-2 col-sm-2 col-xs-2 hidden-sm hidden-xs text-center wow fadeInUp" data-wow-delay=".1s">
						<i style="color:black" class="icon display-block fa fa-heartbeat fa-5x">
							
						</i>
					</div>
					<div class="col-md-5 col-sm-5 wow fadeInUp" data-wow-delay=".1s">
						<p class="lead">Sebarang pertanyaan boleh dikemukakan kepada Sekretariat kami melalui saluran dibawah:
							<br>
						</p>
						<h4 class="mb8">
							tel: 03 2858 7637
						</h4>
						<h4 class="mb8">
							email: admin@myprihatin.org.my
						</h4>
						<br>
						<h4 class="mb0">
							<a style="color:white" href="http://fb.com/yayasanmyprihatin">
								<i class="fa fa-facebook-official">
								</i>
								YayasanMyPrihatin
							</a>
						</h4>
						<h4 class="mb0">
							<a style="color:white" href="http://instagram.com/yayasanmyprihatin">
								<i class="fa fa-instagram">
								</i>
								@yayasanmyprihatin
							</a>
						</h4>
					</div>
				</div>
			</div>
		</footer><!-- site-footer -->
	</div><!-- #wrapper -->
	<!-- jQuery -->  

</div>