<div id="wrapper">
  <header id="header" class="site-header">
    <div class="container" style="width: 90%;">
      <div class="site-brand">
        <a style="cursor:pointer" (click)="homepage()"><img src="../../assets/images/logo-light.png" alt=""></a>
      </div><!-- .site-brand -->
      <div class="right-header">					
        <nav class="main-menu">
          <button class="c-hamburger c-hamburger--htx"><span></span></button>
          <ul>
            <li>
              <a href="#">PROGRAM<i class="fa fa-caret-down" aria-hidden="true"></i></a>
              <ul class="sub-menu">
                <li><a href="#">KESIHATAN</a></li>
                <li><a href="#">KASIH</a></li>
                <li><a href="#">AMAL</a></li>
                <li><a href="#">KOMUNITI</a></li>
                <li><a href="#">ILMU</a></li>
              </ul>
            </li>
            <li><a href="#">MAKLUMAT</a></li>
          </ul>
        </nav>
        <div class="login login-button">
          <a (click)="logOut()" style="cursor:pointer" class="btn-primary">Log Out</a>
        </div><!-- .login -->
      </div><!--. right-header -->
    </div><!-- .container -->
  </header><!-- .site-header -->
  

  <main id="main" class="site-main">
    <section class="top-site">
    </section><!-- .top-site -->
      <div class="video">
        <div class="video-wrapper ple">
          <span><img src="{{user.image}}" style="border-radius:50%"></span>
        </div>
      </div>
      <div class="video">
        <div class="video-wrapper">
          <div>
            <div class="container3">
              <div class="col-md-12 col-xs-12 col-sm-12">
                <h1>{{user.first_name}} {{user.last_name}}</h1>
                <p>Yayasan prihatin mengucapkan ribuan terima kasih di atas sumbangan anda</p>
                <h1 class="c2">RM 2,000</h1>
                <h4>Jumlah derma</h4>
                <button class="btn-secondary mr0">Cetak Penyata</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .video -->
      <section class="team section" style="background:white">
        <div class="container mw" id="updates">
          <h2 class="title" style="color:black">Aktiviti</h2>
          <ul>
            <li>
              <p class="date" style="font-weight:bold">30-06-2017</p>
              <div class="desc">
                <p>Bacon spare ribs rump chuck turkey, ham hock capicola. Strip steak tongue kielbasa, boudin hamburger t-bone capicola turducken.
                  Landjaeger meatloaf pork belly spare ribs chuck.</p>
              </div>
            </li>
            <li>
              <p class="date" style="font-weight:bold">30-06-2017</p>
              <div class="desc">
                <p>Bacon spare ribs rump chuck turkey, ham hock capicola. Strip steak tongue kielbasa, boudin hamburger t-bone capicola turducken.
                  Landjaeger meatloaf pork belly spare ribs chuck.</p>
              </div>
            </li>
            <li>
              <p class="date" style="font-weight:bold">30-06-2017</p>
              <div class="desc">
                <p>Bacon spare ribs rump chuck turkey, ham hock capicola. Strip steak tongue kielbasa, boudin hamburger t-bone capicola turducken.
                  Landjaeger meatloaf pork belly spare ribs chuck.</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- .team -->
  </main><!-- .site-main -->

  <footer id="footer" class="bg-pink subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 text-right text-left-xs wow fadeInUp" data-wow-delay=".1s">
          <h2 class="fs50">
            BERSAMA MEMBANTU MEREKA YANG MEMERLUKAN
          </h2>
        </div>
        <div style="margin-top:30px" class="col-md-2 col-sm-2 col-xs-2 hidden-sm hidden-xs text-center wow fadeInUp" data-wow-delay=".1s">
          <i style="color:black" class="icon display-block fa fa-heartbeat fa-5x">
            
          </i>
        </div>
        <div class="col-md-5 col-sm-5 wow fadeInUp" data-wow-delay=".1s">
          <p class="lead">Sebarang pertanyaan boleh dikemukakan kepada Sekretariat kami melalui saluran dibawah:
            <br>
          </p>
          <h4 class="mb8">
            tel: 03 2858 7637
          </h4>
          <h4 class="mb8">
            email: admin@myprihatin.org.my
          </h4>
          <br>
          <h4 class="mb0">
            <a style="color:white" href="http://fb.com/yayasanmyprihatin">
              <i class="fa fa-facebook-official">
              </i>
              YayasanMyPrihatin
            </a>
          </h4>
          <h4 class="mb0">
            <a style="color:white" href="http://instagram.com/yayasanmyprihatin">
              <i class="fa fa-instagram">
              </i>
              @yayasanmyprihatin
            </a>
          </h4>
        </div>
      </div>
    </div>
  </footer><!-- site-footer -->
</div><!-- #wrapper -->
